@page
@model IndexModel
@{
    @using System.Web;
    @using System.Text;
    ViewData["Title"] = "Home page";

    if (Request.Method == "POST")
    {
        var origen = Request.Form["origen"].ToString();
        var destino = Request.Form["destino"].ToString();
        try
        {
            Task<Ruta> rutas = DNSGPS.Controller.ApiRequest(origen, destino);

            byte[] tiempo_origen = Encoding.UTF8.GetBytes("Climatología en " + origen + ": " + rutas.Result.tiempo_origen + "<br>");
            Response.Body.WriteAsync(tiempo_origen);
            byte[] tiempo_destino = Encoding.UTF8.GetBytes("Climatología en " + destino + ": " + rutas.Result.tiempo_destino + "<br>");
            Response.Body.WriteAsync(tiempo_destino);
            byte[] salida = Encoding.UTF8.GetBytes("Salida de " + origen + ": " + rutas.Result.resumenViaje.salida + "<br>");
            Response.Body.WriteAsync(salida);
            byte[] llegada = Encoding.UTF8.GetBytes("Llegada a " + destino + ": " + rutas.Result.resumenViaje.llegada + "<br>");
            Response.Body.WriteAsync(llegada);

            byte[] ruta = Encoding.UTF8.GetBytes("Mejor ruta:<br>");
            Response.Body.WriteAsync(ruta);
            for (int i = 0; i < rutas.Result.listaCiudades.Count; i++)
            {
                byte[] coords = Encoding.UTF8.GetBytes(rutas.Result.listaCiudades[i] + "<br>");
                Response.Body.WriteAsync(coords);
            }
        }
        catch (Exception e)
        {
            Response.Body.WriteAsync(Encoding.UTF8.GetBytes(e.InnerException.Message));
        }
    }
    

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="text-center">
        <h1>Calcular ruta</h1>
        <form method="post">
            Introduzca origen: <input type="text" id="origen" name="origen" placeholder="Ciudad de origen" required><br>
            Introduzca destino: <input type="text" id="destino" name="destino" placeholder="Ciudad de destino" required><br>
            <input type="submit" id="calcular_ruta" onclick="actualizarEtiqueta()" value="Calcular ruta">
        </form>
    </div>

    <p id="respuesta"></p>
    <script src="site.js"></script>

</body>
</html>
}